<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
    body{ text-align:center}
    .div1{ margin:0 auto; width:400px; height:500px; border:0px solid #F00;}
    .p1{text-align: center; font-size: 24px;}
    .set{width: 100px; height: 50px; font-size: 24px; -webkit-appearance:button;}
    /* css注释：为了观察效果设置宽度 边框 高度等样式 */
</style>
</head>
<body>
    <div class="div1">
        <form action="" method="post" name="register">
            <br><br><br><br>
            <h1>钻石珠宝检测结果查询网</h1>
            <h1>用户注册</h1>
            <p class="p1">&ensp;用户名:&ensp;
                <input type="text" name="user_code" style="width:200px;height: 30px; font-size: 14px"
                       onkeyup="value=value.replace(/[\W]/g,'') "
                       onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
                       placeholder="仅限于数字以及英文字符(1~20)"
                       maxlength="20"
                       required="required"
                       {% if user_code == ' ' %}
                           value = ""
                       {% else %}
                           value = "{{ user_code }}"
                       {% endif %}>
            </p>
            <p class="p1">&ensp;昵&ensp;&ensp;称:&ensp;
                <input type="text" name="user_name" style="width:200px;height: 30px; font-size: 14px"
                       maxlength="20"
                       required="required"
                       {% if user_name == ' ' %}
                           value = ""
                       {% else %}
                           value = "{{ user_name }}"
                       {% endif %}>
            </p>
            <p class="p1">&ensp;密&ensp;&ensp;码:&ensp;
                <input type="password" name="password" style="width:200px;height: 30px; font-size: 14px"
                       maxlength="16" required="required">
            </p>
            <p class="p1">&ensp;确&ensp;&ensp;认:&ensp;
                <input type="password" name="confirm_password" style="width:200px;height: 30px; font-size: 14px"
                       maxlength="16" required="required">
            </p>
            <br>
            <p >
                <input class="set" type="submit" name="register" value="注册">
                &ensp;&ensp;&ensp;&ensp;&ensp;
                <input class="set" type="button" name="back" value="返回"
                       onclick="window.location.href='{{ url_for('login', user_code=' ') }}'">
            </p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <li style="color: #FF0000">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </form>

    </div>
</body>
</html>